<div class="py-3 fixed-top text-white container d-flex justify-content-between">

    <h3>Insta</h3>

    <div class="dropdown">
        <button class="btn btn-transparent text-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Login
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item " routerLink="/login">Login</a></li>
          <li><a class="dropdown-item" routerLink="/register">Register</a></li>         
        </ul>
      </div>
</div>
